.con {
    width: 96%;
    margin: 0px auto;
    columns:4!important;
    column-gap: 10px;
}
.box {
    width: 300px;
    margin-bottom: 5px;
}
.box img{
    width: 100%;
}
@media only screen and (max-width:688px) {
    .con {
        width: 96%;
        margin: 0px auto;
        columns:3!important;
        column-gap: 0px;
    }
    .box {
        width: 120px;
        margin-bottom: 4px;
    }
    .box img{
        width: 100%;
    }
}