.blog_carousel{
    width: 519px;
    height: 350px!important;
}
.blog_carousel_clild img{
    height: 350px!important;
}
@media only screen and (max-width:688px) {
    .blog_carousel {
        width:90%!important;
        margin:0px auto;
        height: 220px!important;
    }

    .blog_carousel_clild img {
        height: 200px!important;
    }
}